.hrms-dash-emp-All-components-titles-same-card-header {
  background-color: #f7f7f7;
  padding: 15px 15px 15px 30px;
}

.hrms-dash-emp-All-components-titles-same-card-header h4 {
  color: #2a2a74;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

.hrms-dash-emp-record-card-body {
  padding: 0px 20px;
}

/* Fix selector grouping for input and select */
.input-group .form-control,
.input-group .form-select {
  height: 38px;
  font-size: 16px;
  border: 2px solid rgba(46, 55, 164, 0.1); /* Fix invalid 1A transparency */
}

.col-form-label {
  width: 170px;
  font-size: 14px;
  font-weight: 500;
}

/* Corrected focus styles */
.input-group .form-control:focus,
.input-group .form-select:focus {
  box-shadow: none;
  outline: none;
  background-color: transparent;
}

.btn-save-button-all {
  width: 170px;
  height: 39px;
  border-radius: 4px;
  background: #2a2a74;
  color: white;
  font-weight: 600;
  border: none;
}

.btn-save-button-all:hover {
  margin-right: 5px;
  border: 1.5px solid #2a2a74;
  background: none;
  color: #2a2a74;
}
